$greetingFontSize: 6.4rem;

.first-view {

    align-items: center;
    background-color: orange;
    display: flex;
    height: 100vh;
    justify-content: center;

    .greeting {

        color: white;
        font-family: var(--font-first-view);
        font-size: 6.4rem;
        padding: 1.3rem;
        z-index: 52;

        .gt {

            &__none-person-name {

                color: var(--color-accent-purple);

            }

            &__symbol {

                color: var(--color-accent-green);

            }

        }

    }

}

.first-view--animation {

    background: rgba(124, 122, 122, 0.2);
    backdrop-filter: blur(4px);
    content: '';
    height: 100vh;
    width: 100%;
    z-index: 52;
    position: absolute;
    top: 0;
    left: 0;

}

.background {

    // height: 100vh;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;

}

@media(min-width: 560px) {

    .first-view {

        .greeting {

            font-size: $greetingFontSize * 2;

        }

    }

}