@keyframes rotate {

    0% {

        transform: translateX(100px);
        opacity: 0;

    }

    50% {


    }

    100% {

        // transform: translateY();
        // transform: rotate(1turn);

    }

}

.portfolio-list {

    align-items: center;
    display: flex;
    flex-direction: column;
    
    $childHeight: 22rem;

    &__child {
        // background-color: rgb(165, 165, 30);
        // border: 5px solid var(--color-accent-green);
        border: 10px solid var(--color-accent-purple);
        border-radius: 50%;
        // box-shadow: 0 0 8px gray;
        box-shadow: 0 0 10px gray;
        color: white;
        // font-family: var(--font-paragraph);
        height: $childHeight;
        // line-height: $childHeight;
        overflow: hidden;
        position: relative;
        transition: 1s;
        // text-align: center;

        animation: rotate 0.5s linear 0s;

        width: $childHeight;

        &:nth-child(2) {

            border: 10px solid var(--color-accent-green);

        }

        &:nth-child(3) {

            border: 10px solid orange;

        }

        &:not(:first-child) {

            margin-top: 3rem;
    
        }

        &:hover {

            border: 10px solid var(--color-main-white);
            transition: 1s;
    
        }

    }

    &__img {

        border-radius: 50%;
        height: 100%;
        width: 100%;

    }

    &__link {

        border-radius: 50%;
        color: white;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &:hover {

            & .portfolio-text {

                transform: translateY(0rem);
                transition: .5s;

            }

            & .pt__title {

                padding-top: 1rem;

            }

        }

    }

    .portfolio-text {

        backdrop-filter: blur(.2rem);
        background: rgba(78, 78, 78, 0.8);
        box-sizing: border-box;
        // font-family: var(--font-paragraph);
        font-family: var(--font-main);
        height: 100%;
        pointer-events: none;
        position: absolute;
        text-align: center;
        transform: translateY(15rem);
        transition: .5s;
        top: 0;
        width: 100%;

        .pt {

            $titleFontSize: 2.3rem;
            &__title {

                box-sizing: border-box;
                font-size: $titleFontSize;
                // font-weight: normal;
                height: $childHeight * 0.3;
                line-height: $childHeight * 0.3;
                // padding-top: 1rem;

            }

            &__description {

                box-sizing: border-box;
                font-size: $titleFontSize * 0.7;
                height: $childHeight * 0.5;
                padding-top: 2rem;

            }

            &__updated-at {

                font-size: $titleFontSize * 0.7;
                height: $childHeight * 0.2;
                line-height: $childHeight * 0.2;

            }

        }

    }

}

@media(min-width: 560px) {

    .portfolio-list {

        width: 54rem;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        margin: 0 auto;

        &__child {


            &:nth-child(1) {
    
                order: 3;
    
            }
    
            &:nth-child(2) {
    
                order: 2;
    
            }
    
            &:nth-child(3) {
    
                order: 1;
    
            }
    
        }

    }

}