.portfolio-list {

    align-items: center;
    display: flex;
    flex-direction: column;
    

    &__child {
        $childHeight: 13rem;

        // background-color: rgb(165, 165, 30);
        border-radius: 50%;
        color: white;
        font-family: var(--font-paragraph);
        font-size: 1.5rem;
        height: $childHeight;
        // line-height: $childHeight;
        overflow: hidden;
        position: relative;
        // text-align: center;
        width: $childHeight;

        &:not(:first-child) {

            margin-top: 2rem;
    
        }

    }

    &__img {

        height: 100%;
        // left: 0;
        // position: absolute;
        // top: 0;
        width: 100%;
        // z-index: -10;

    }

    &__title {

        background: rgba(0, 0, 0, 0.8);
        // bottom: 0;
        height: 100%;
        position: absolute;
        text-align: center;
        transform: translateY(-);
        top: 0;
        width: 100%;
        
    }

}