@import 'color';
@import 'font';
@import 'common';
@import 'header';
@import 'section/loading';
@import 'section/first-view';
@import 'section/about';
@import 'section/portfolio';
@import 'footer';

body {

    background-color: var(--color-main-black);

}


.section {

    min-height: 100vh;
    box-sizing: border-box;
    padding: 5rem 3.2rem 10rem;


    &:nth-child(odd) {

        background-color: white;
        
        & > .section__title {

            color: var(--color-font-section-title);

        }

    }

    &:nth-child(even) {

        color: white;

    }

    .wrap-section__content {

        margin-top: 4.8rem;

    }

    &__title {

        // color: var(--color-font-content-title);
        font-family: var(--font-content-title);
        font-size: 4.8rem;
        text-transform: uppercase;

    }

}

.skill {

    &-list {

        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__child {

            $skillListHeight: 6.4rem;

            // background: linear-gradient(to bottom right, orange, var(--color-accent-purple));
            background-color: var(--color-accent-purple);
            // background-color: orange;
            border-radius: 3.2rem;
            // border: solid 2px var(--color-accent-green);
            // border: solid 2px var(--color-accent-purple);
            color: white;
            font-size: 2.2rem;
            font-style: italic;
            font-weight: lighter;
            font-family: var(--font-main);
            height: $skillListHeight;
            line-height: $skillListHeight;
            text-align: center;
            width: 24rem;

            &:not(:first-child) {

                margin-top: 1.6rem;

            }

        }

    }

}